In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.preprocessing import MinMaxScaler
import os
for dirname, _, filenames in os.walk('../Users/btobin/Downloads/ciphertext-challenge-iii'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [4]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
sub_df = pd.read_csv('sample_submission.csv')

In [5]:
train_df.head()

   plaintext_id                                               text   index
0  ID_d45641fc3  come, who you are and what you would are out o...  104199
1  ID_2058482ae          For all in vain comes counsel to his ear.   79081
2  ID_5257a6819        Captain: With the next benefit o' the wind.   31234
3  ID_cd22c9b7c            Smells wooingly here: no jutty, frieze,   56215
4  ID_dad4a8a96     PORTIA: Which did incorporate and make us one,   47149

In [6]:
test_df.head()

  ciphertext_id                                         ciphertext  difficulty
0  ID_4a6fc1ea9  H2-t.'HzW$QOSvkPw v)4I1iSECKPX: P ktxjkp qemfl...           1
1  ID_9460d3380  Ah1QtVkLNcx7Q6mgvleEAqFIzyZoYkVtiKnd2Yy2t2GmoT...           4
2  ID_ac39fd360  BxBYt00fPc5zQqmls1mAFrVIzihsdFdoiKjdzZ22tWOnoT...           4
3  ID_d089e3234  AxFVtU0YMcl6R6mlvFKNFbVNziNpYkNtjKLX2Y+wsWShoT...           4
4  ID_55f57ffd0  11241 14155 31264 11448 35128 46135 39409 3201...           3

In [ ]:
%%time
for index, row in train_df.iterrows():
    train_df.at[index,'len'] = len(row['text'])
    
for index, row in test_df.iterrows():
    test_df.at[index,'len'] = len(row['ciphertext'])

In [ ]:
train_df.head()

In [ ]:
scaler = MinMaxScaler()
train_len_scaled = scaler.fit_transform(train_df['len'].values.reshape(-1, 1))
train_df['normalized_len'] = train_len_scaled

In [ ]:
train_df.head()

In [ ]:
test_len_scaled = scaler.fit_transform(test_df['len'].values.reshape(-1, 1))
test_df['normalized_len'] = test_len_scaled

In [ ]:
test_df.head()

In [ ]:
test_df.plot(x='len', y='difficulty')

In [ ]:
train_df = train_df.sort_values(by=['normalized_len']).reset_index(drop=True).reset_index(drop=True)
test_df = test_df.sort_values(by=['normalized_len']).reset_index(drop=True)

In [ ]:
train_df.head()

In [ ]:
test_df.head()

In [ ]:
test_df['index'] = train_df['index']

In [ ]:
test_df.head()

In [ ]:
test_df = test_df.sort_values(by=['difficulty']).reset_index(drop=True)

In [ ]:
test_df.head()

In [ ]:
sub_df.head()

In [ ]:
sub_df.update(test_df)

In [21]:
sub_df.head()

  ciphertext_id   index
0  ID_4a6fc1ea9   28571
1  ID_b6219e633   40340
2  ID_179e7ed2a   94136
3  ID_689a2d37d   93325
4  ID_3c4e34910  108441

In [ ]:
sub_df.to_csv('submission.csv', index=False)