In [5]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler
import os
for dirname, _, filenames in os.walk('../Users/btobin/Downloads/ciphertext-challenge-iii'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [6]:
text = pd.read_csv('train.csv')
cipher = pd.read_csv('test.csv')
sub_df = pd.read_csv('sample_submission.csv')

In [7]:
text.head(3)

   plaintext_id                                               text   index
0  ID_d45641fc3  come, who you are and what you would are out o...  104199
1  ID_2058482ae          For all in vain comes counsel to his ear.   79081
2  ID_5257a6819        Captain: With the next benefit o' the wind.   31234

In [8]:
cipher.head(3)

  ciphertext_id                                         ciphertext  difficulty
0  ID_4a6fc1ea9  H2-t.'HzW$QOSvkPw v)4I1iSECKPX: P ktxjkp qemfl...           1
1  ID_9460d3380  Ah1QtVkLNcx7Q6mgvleEAqFIzyZoYkVtiKnd2Yy2t2GmoT...           4
2  ID_ac39fd360  BxBYt00fPc5zQqmls1mAFrVIzihsdFdoiKjdzZ22tWOnoT...           4

In [9]:
cipher['difficulty'].value_counts()

3    27416
4    27332
1    27158
2    26849
Name: difficulty, dtype: int64

In [10]:
cipher['difficulty'].value_counts(10)

3    0.252090
4    0.251317
1    0.249717
2    0.246876
Name: difficulty, dtype: float64

In [11]:
cipher.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108755 entries, 0 to 108754
Data columns (total 3 columns):
ciphertext_id    108755 non-null object
ciphertext       108755 non-null object
difficulty       108755 non-null int64
dtypes: int64(1), object(2)
memory usage: 2.5+ MB

In [12]:
text.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108755 entries, 0 to 108754
Data columns (total 3 columns):
plaintext_id    108755 non-null object
text            108755 non-null object
index           108755 non-null int64
dtypes: int64(1), object(2)
memory usage: 2.5+ MB

In [13]:
print("Total length of text :",len(text['text'].value_counts()))

Total length of text : 108755

In [14]:
print("Total length of cipher :",len(cipher['ciphertext'].value_counts()))

Total length of cipher : 108755

In [15]:
%%time
for index, row in text.iterrows():
    text.at[index,'len'] = len(row['text'])
    
for index, row in cipher.iterrows():
    cipher.at[index,'len'] = len(row['ciphertext'])

Wall time: 27 s

In [16]:
cipher['index'] = cipher['index']

KeyError: 'index'

In [ ]:
cipher.head(3)

In [ ]:
text.head(3)

In [ ]:
cipher.plot(x='index', y='difficulty')

In [107]:
text.head(3)

,plaintext_id,text,index,len
0,ID_d45641fc3,"come, who you are and what you would are out o...",104199,50.0
1,ID_2058482ae,For all in vain comes counsel to his ear.,79081,41.0
2,ID_5257a6819,Captain: With the next benefit o' the wind.,31234,43.0

In [108]:
cipher.head(3)

,ciphertext_id,ciphertext,difficulty,len,index
0,ID_4a6fc1ea9,H2-t.'HzW$QOSvkPw v)4I1iSECKPX: P ktxjkp qemfl...,1,100.0,104199
1,ID_9460d3380,Ah1QtVkLNcx7Q6mgvleEAqFIzyZoYkVtiKnd2Yy2t2GmoT...,4,764.0,79081
2,ID_ac39fd360,BxBYt00fPc5zQqmls1mAFrVIzihsdFdoiKjdzZ22tWOnoT...,4,772.0,31234

In [109]:
sub_df.head()

  ciphertext_id  index
0  ID_2a3ea0caa      0
1  ID_ddbd3b32d      0
2  ID_fa75bb12c      0
3  ID_df7c283c0      0
4  ID_6d46ecc92      0

In [111]:
sub_df.update(cipher)

In [112]:
sub_df.head()

  ciphertext_id   index
0  ID_4a6fc1ea9  104199
1  ID_9460d3380   79081
2  ID_ac39fd360   31234
3  ID_d089e3234   56215
4  ID_55f57ffd0   47149

In [113]:
sub_df.to_csv('submission.csv', index=False)